@use "../../partials/variables.scss" as v;
@use "../../partials/mixins.scss" as m;
.title {
  text-align: center;
  font-size: 3.5em;
  margin: 0.25em;
  font-family: Montserrat, Helvetica, sans-serif
}

.titleBackground {
  @include m.displayFlex(column, flex-start, center, nowrap, center);
  min-height: 50px;
  width: 100vw;
  background-color: v.$titleColor;
  margin-bottom: 1.5em;
  padding: 1em 0em;
  gap: 0.5em;
}
