@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;
.searchBar {
    @include m.displayFlex(row, center, center, nowrap, left);
    box-shadow: 0px, 4px, 4px, 0px, rgba(0,0,0,0.2);
    &_input {
        height: 2em;
    }
    &_btn {
        height: 2.5em;
    }
    
}
