@use "./variables.scss" as v;

@mixin displayFlex(
  $direction: column,
  $justify: center,
  $align: center,
  $wrap: nowrap,
  $text: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  text-align: $text;
}

// make the title bigger and use a background 
// make the background white
// use the blue for button

// add a description of what to do and how

// Changing the font
// not all bold

// Modal
// white background
// purple border
// Close button on the top right corner

// Card
// white card with border, image
// lighter text


// Stlying
// Padding
// Make image the background of the normal card
// make the image bigger and more focused on the modal view

// Make the text bigger and bolder with the title and make it take up more
// fix issue with store page and no image


// Media Queries
@mixin sm-screen {
  @media only screen and (min-width: v.$sm) {
    @content;
  }
}

@mixin md-screen {
  @media only screen and (min-width: v.$md) {
    @content;
  }
}

@mixin lg-screen {
  @media only screen and (min-width: v.$lg) {
    @content;
  }
}

@mixin xl-screen {
  @media only screen and (min-width: v.$xl) {
    @content;
  }
}
