// Media Query Values
$sm: 570px;
$md: 770px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1400px;

// Colours
//8783D1 tropical indigo
$tropical: #abdae1;
//AA9ABA rose quartz
$roseQuartz: #a09cb0;
//BFA4A4 rosy brown
$rosyBrown: #bfa4a4;
//D1ABAD tea rose (red)
$teaRose1: #d1abad;
//E3B9BC tea rose (red)
$teaRose2: #e3b9bc;
//Link default
$linkDefault: #0648ac;
//Link Selected
$linkSelected: #0483b6;
