// Media Query Values
$sm: 570px;
$md: 770px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1400px;

// Colours
//8783D1 tropical indigo
$tropical: "#8783D1";
//AA9ABA rose quartz
$roseQuartz: "#AA9ABA";
//BFA4A4 rosy brown
$rosyBrown: "#BFA4A4";
//D1ABAD tea rose (red)
$teaRose1: "#D1ABAD";
//E3B9BC tea rose (red)
$teaRose2: "#E3B9BC";