@use "../../partials/mixins.scss" as m;
.modal {
  @include m.displayFlex(column, center, center, nowrap, center);
  border: 1px ridge #000000;
  background-color: #929292;
  position: absolute;
  top: 250px;
  left: calc(50% - (100vw / 2 / 2));
  width: calc(100vw / 2);
  height: calc(100vh / 2);
  z-index: 2;
  gap: 1em;

  &_container {
    @include m.displayFlex(column, flex-start, center, nowrap, center);
    @include m.sm-screen {
      @include m.displayFlex(row, center, center, nowrap, center);
    }
    gap: 0.75em;
  }

  &_text {
    max-width: 400px;
  }
}

.overlay {
  @include m.displayFlex(column, center, center, nowrap, center);
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 1;
}

.btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
}
